# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environments
.venv/
env/
venv/
ENV/

# Local config
.env
.python-version

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Test / Coverage
.coverage
.pytest_cache/
htmlcov/

# Archives / temp tools
*.zip
*.numbers
*.bak
*.jar

# Generated outputs
static/wordcloud.png

# NLP resources
nltk/

# datasets
data/raw_data/
data/processed_data/

# Models
models/
models/logistic_regression_bundle.joblib
models/tuned_logistic_regression_bundle.joblib
models/logreg_best_params.json      